
/* черный заголовки #212121
синий 2196F3 
серий основой текст 757575
чисто черный 000000
фон ECECEC
белый FFFFFF
фон героя 2F303A
чем мы занимемся фон
фон наша команад F5F4FA
адрес color: rgba(255, 255, 255, 0.6);
*/
:root{--blue-main:#2196F3 ; 
--black-main:#212121;
--gray-main:#757575;
--white-color:#ffffff;
--team-color:#F5F4FA;
--logo-footer:#2F303A;
--address-color:rgba(255, 255, 255, 0.6)
}
body{
    font-family:'Roboto', sans-serif;
    font-style: normal;
    background-color: var(--white-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gray-main);
}
ul{list-style-type:none}




/* ШАПКА */

        .logo{color: var(--blue-main);
            text-decoration: none;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.92;
            letter-spacing: 0.03em;}


        .logo-black{color: var(--black-main);}


        .nav {color:var(--black-main);
            font-style: normal;
            font-weight: 500;           
            line-height: 1.142;
            letter-spacing: 0.02em;
            text-decoration: none; }

          .nav:focus{color: var(--blue-main);} 
          .nav:hover{color: var(--blue-main);}     
          .nav:active{color: var(--blue-main);}

        .mail-tel{           
            font-style: normal;
            font-weight: 500;
            line-height: 1.142;
            letter-spacing: 0.02em; }

            .mail-nav{color: var(--black-main);text-decoration: none;}
            .mail-nav:focus{color: var(--blue-main);}
            .mail-nav:hover{color: var(--blue-main);}
            .tel-nav{color: var(--black-main);text-decoration: none;}
            .tel-nav:hover{color: var(--blue-main);}
            .tel-nav:focus {color: var(--blue-main);}

    
        


/* ПОДВАЛ */
        .back-footer{background-color: var(--logo-footer) ; }
        .logo-white{color:var(--white-color);}
        .address{ color: var(--team-color);
            
        font-style: normal;       
       }

        address  a{
            font-style: normal;    
            }
        .mail-footer{color: var(--address-color); text-decoration: none;}
        .tel-footer{color: var(--address-color); text-decoration: none;}

       






/* СЕКЦИЯ 1 ГЕРОЙ */

    
        .hero-text{
            color: var(--white-color);    
            background: var(--logo-footer);        
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;

            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }

        .button-hero{ color: var(--white-color);
            background-color: var(--blue-main);
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
              }
        







/* СЕКЦИЯ 2 Особенности*/

        .visually-hidden{font-size: 0px;
            visibility: hidden; 
            }
        .list{color: var(--black-main);                  
            line-height: 1.42;
            font-size: 14px;
            text-transform: uppercase;}       


/* СЕКЦИЯ 3  Чем мы занимаемся*/

        .title{
            color: var(--black-main);
            font-size: 36px;
            line-height: 1.66;
            text-align: center;
        }


/* СЕКЦИЯ 4 Наша команда*/
        .section-team{
           background-color: var(--team-color);
        }
        .dream-team{
            color: var(--black-main);   
            font-size: 36px;
            line-height: 1.66;
            text-align: center;
        }
        .items-name{color: var(--black-main);
            font-weight: 500;
            font-size: 16px;
            line-height: 1.187;
            }
        .profession{
            font-size: 16px;
            line-height: 1.187;   
            }




            /* ПОРТФОЛИО */

.hero-portfolio{ font-size: 0px;
    visibility: hidden; }
.button{
    font-family: 'Roboto';
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;   }
.button:focus{
    background-color: var(--blue-main);
    color: var(--white-color);   }
.button:hover{
    background-color: var(--blue-main);
    color: var(--white-color);}
.button:active{
        background-color: var(--blue-main);
        color: var(--white-color);}
    

 /* НАШИ РАБОТЫ  */


        .work-items a{
            text-decoration: none
        }              
        .work-items a > h2{
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--black-main);
        }
        .work-items a > p {
            font-size: 16px;
            line-height: 1.875;
            color: var(--gray-main);
        }    
    /* ааа */